//author @huntbao
.mod-res {
  margin: 20px 8px

  .res-tip {
    color: #999;
    display flex

    .glyphicon-info-sign {
      margin: 3px 4px 0 0
    }

    .spinner {
      margin: -8px 8px 0 0
    }
  }
}