//author @huntbao
.mod-reqtabs {
  height: 45px;
  padding: 0 10px;
  border-bottom 1px solid #ccc
  position: relative
  display flex

  .reqtab {
    max-width: 200px;
    height: 45px;
    flex 1
    margin: 0 -15px 0 0;
    position: relative
    cursor: pointer

    &-box {
      height: 45px;
      border-radius: 8px 8px 0 0;
      border: 1px solid #ccc;
      border-bottom: none;
      margin: 0 10px 0;
      background-image: linear-gradient(to bottom, #ccc, #eee 80%, rgba(238, 238, 238, 1));
      -webkit-transform: perspective(100px) rotateX(30deg);
    }

    &-name {
      position: absolute
      left: 0;
      top: 0
      right: 0
      bottom: 0
      line-height: 52px
      text-indent: 24px

      em {
        display: block
        max-width 82%
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
      }
    }

    &-remove {
      position: absolute;
      right: 18px;
      top: 12px;
      color: #ccc;
      opacity: 0
      width: 24px;
      height: 24px;
      font-size: 16px;
      text-align: center;
      line-height: 26px;
      transition: all ease 0.2s;

      &:hover {
        color: #ff5a19
      }

      &.dirty {
        opacity 1

        .dirty-dot {
          background: #f27760;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 5px;
          right: 5px;
          transition: all ease 0.1s;
          opacity 1
        }

        &:hover {
          .glyphicon-remove {
            opacity 1
          }
          .dirty-dot {
            opacity 0
          }
        }
      }
    }

    &:hover {
      .reqtab-remove {
        opacity 1
      }

      .reqtab-box {
        background-image: linear-gradient(to bottom, #eee, #ccc 80%, rgba(221, 221, 221, 1));
      }
    }

    &.active {
      z-index: 40;
      position: relative;

      .reqtab-box {
        background-size: 100%;
        background: #fff;
        border-bottom: 1px solid #fff;
      }

      .reqtab-box {
        opacity 1
      }
    }

    &-add {
      color: #ccc;
      float: left
      margin: 16px 0 0 20px
      cursor: pointer
      font-size: 20px;
      transition all ease .5s

      em {
        display: block
        margin: -1px 0 0
      }

      &:hover {
        color: #999;
      }
    }
  }

}
