//author @huntbao
.mod-reqtabs {
  height: 45px;
  padding: 0 0 0 0;
  overflow: visible;
  border-bottom 1px solid #ccc
  position: relative

  .reqtab {
    width: 200px;
    height: 45px;
    float: left;
    margin: 0 -15px 0 0;
    position: relative
    cursor: pointer

    &-box {
      height: 45px;
      border-radius: 8px 8px 0 0;
      border: 1px solid #ccc;
      border-bottom: none;
      margin: 0 10px 0;
      background-image: linear-gradient(to bottom, #ccc, #eee 3%, rgba(238, 238, 238, 1));
      -webkit-transform: perspective(100px) rotateX(30deg);
    }

    &-name {
      position: absolute
      left: 0;
      top: 0
      right: 0
      bottom: 0
      line-height: 52px
      text-indent: 24px
    }

    &-remove {
      position: absolute
      right: 22px;
      top: 18px;
      color: #ccc;
      opacity 0
      transition all ease .5s

      &:hover {
        color: #ff5a19
      }
    }

    &:hover {
      .reqtab-remove {
        opacity 1
      }
    }

    &.active {
      z-index: 40;
      position: relative;

      .reqtab-box {
        background-size: 100%;
        background: #fff;
        border-bottom: 1px solid #fff;
      }

      .reqtab-remove {
        opacity 1
      }
    }

    &-add {
      color: #ccc;
      float: left
      margin: 14px 0 0 24px
      cursor: pointer
      font-size: 20px;
      transition all ease .5s

      em {
        display: block
        margin: -1px 0 0
      }

      &:hover {
        color: #999;
      }
    }
  }

}
