//author @huntbao
.mod-res-checker {
  margin: 12px

  .res-checker-tip {
    color: #999

    .glyphicon-exclamation-sign {
      margin: 0 4px 0 0
    }
  }

  .error-tip {
    color: #ffaf3d
    margin: 20px
  }
}