//author @huntbao
.mod-res-checker {
  margin: 12px

  .mod-kv {
    .kv-row {
      display: block

      input {
        margin-right: 6%
        width: 56%
      }

      .input-wrap {
        flex  inherit
      }

      &-wrap {
        display: flex
      }

      > .kv-row {
        margin: 0 0 0 20px
      }
    }
  }
}