//author @huntbao
.mod-reqbuilder-body {
  .type-tabs {
    margin: 20px
    display: flex

    > li {
      margin: 0 60px 0 0
      display: flex

      .reqbuilder-body-rawtype {
        font-size: 12px
        position: relative
        margin: -3px 0 0 12px;
        cursor: default
        color: #eee

        .rawtype-wrap {
          margin: 1px 0 0;
          display: block;
        }

        .mod-dropdown-menu {
          position: absolute
          display: none
        }

        &.show-raw-list {
          .mod-dropdown-menu {
            display block
          }
        }

        &.show-raw-value {
          color #06c
          cursor: pointer
        }
      }
    }

    label {
      display: flex
      cursor: pointer

      &.disabled {
        cursor: default
        color: #ccc
      }

      input {
        cursor: pointer

        &:disabled {
          cursor: default
        }
      }

      span {
        margin: -4px 0 0 8px
      }
    }
  }

  .binary-file {
    margin: 0 0 0 20px
  }
}