//author @huntbao
.mod-kv-type {
  .kv-row {
    display: block

    input {
      flex 1
    }

    .input-wrap {
      &:hover + {
        .res-title-tip {
          opacity 1
        }
      }

      &.active + {
        .res-title-tip {
          opacity 1
        }
      }
    }

    &-wrap {
      display: flex
      position: relative
    }

    .sub-kv-row {
      padding: 0 0 0 20px
      border-radius 5px
      transition all ease .3s

      .kv-row-wrap {
        margin: 0 0 0 20px
      }

      .sub-kv-row {
        padding-left: 40px
      }

      &.hover {
        background-color: #f8f8f8
      }
    }

    .res-title-tip {
      position: absolute
      left: -8px;
      top: 16px;
      opacity 0
      transition all ease .1s

      &:after {
        background: rgba(0, 0, 0, 1);
        border-radius: 4px;
        bottom: 1.35em;
        color: #fff;
        content: attr(title);
        display: block;
        padding: 2px 6px 4px;
        position: absolute;
        white-space: nowrap;
        z-index: 98;
        min-width: 30px;
        text-align: center;
      }

      &:before {
        border: solid;
        border-color: rgba(0, 0, 0, 1) transparent;
        border-width: .4em .4em 0 .4em;
        bottom: 1em;
        content: "";
        display: block;
        left: 18px;
        position: absolute;
        z-index: 99;
      }
    }
  }

  .kv-row-array:first-child:before {
    content '[' !important
    font-size: 18px
    color: #ccc
  }

  .kv-row-array:last-child:after {
    content ']'
    font-size: 18px
    color: #ccc
  }

  .kv-row-object:first-child:before {
    content '{' !important
    font-size: 18px
    color: #ccc
  }

  .kv-row-object:last-child:after {
    content '}'
    font-size: 18px
    color: #ccc
  }

  select:disabled {
    cursor: not-allowed
  }

  .bracket-start,
  .bracket-end,
  .brace-start,
  .brace-end {
    font-size: 18px
    color: #ccc
  }

  .bracket-start:first-child:before {
    content '['
  }

  .bracket-end:last-child:before {
    content ']'
  }

  .brace-start:first-child:before {
    content '{'
  }

  .brace-end:last-child:before {
    content '}'
  }
}
