//author @huntbao
.mod-kv {
  margin: 12px
  font-size: 12px

  .kv-row {
    display: flex

    .input-wrap {
      flex: 1;
      transition all ease .2s
      display: flex
      height 31px
      overflow: hidden;

      &.active {
        background-color: #e8f2fe;
      }
    }

    input {
      width: 49%
      margin: 0 1% 0 0
      border: none
      outline: none
      text-indent: 4px
      background-color: transparent
      height: 30px
      line-height: 30px
      border-bottom: 1px solid #eee
      transition all ease .5s;

      &:focus {
        border-bottom-color: #ccc
      }

      &:read-only {
        cursor: not-allowed;
      }
    }

    .glyphicon {
      font-size: 20px
      cursor: pointer
      margin: 5px 4px 0;
      color: #eee
      transition all ease .2s

      &:hover {
        color: #ccc
      }

      &.checked {
        color: #53a2f2
      }
    }

    .glyphicon-remove {
      visibility hidden
    }

    &.removable {
      .glyphicon-remove {
        visibility visible
      }
    }

    // keyvalue x
    select {
      border: none;
      border-bottom: 1px solid #eee;
      height: 31px;
      outline: none;
      background-color: transparent
    }

    input[type=file] {
      display: none
      height: 25px;
      line-height: 0;
      margin-top: 5px;
    }

    .file-value-type {
      input[type=file] {
        display: block
      }

      .value-text-inp {
        display: none
      }

    }
  }
}
