//author @huntbao
.mod-dropdown-menu {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border: none;
  border-radius: 3px;
  line-height: 20px
  cursor: pointer
  background-color: #fff
  z-index: 999

  li {
    min-width: 100px
    text-indent: 12px
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding-right: 12px;
    color: #333
    transition all ease .2s
    &:hover {
      background-color: #7f7f7f
      color: #fff
    }
  }
}
