//author @huntbao
.mod-reqtab-cons {
  padding: 20px
  min-width: 800px

  .mod-kv {
    width: 90%
    margin: 12px
  }

  .reqtab-con {
    > div {
      overflow: auto;
      position: absolute;
      left: 20px;
      top: 174px;
      right: 0;
      bottom: 0;
    }
      
    .mod-requrl {
      position: static
      left: auto;
      top: auto;
      right: auto;
      bottom: auto;
    }

    .mod-reqbuilder-tab {
      position: relative
      left: auto;
      top: auto;
      right: auto;
      bottom: auto;
    }
}
}
