//author @huntbao
.mod-requrl {
  display flex
  height: 60px;
  line-height: 60px;

  .requrl {
    &-wrap {
      display: flex;
      flex: 1;
      background-color: #f2f2f2
      border-radius: 5px
      position: relative

      &.requrl-show-method {
        .mod-dropdown-menu {
          display: block
        }
      }
    }

    &-method {
      width: 120px
      text-align: center
      cursor: pointer

      &-name {
        display: inline-block
        margin: 0 3px
      }
    }

    &-url {
      flex: 1;
      display: flex;

      input {
        line-height: 30px
        width: 99%
        border: none;
        outline: none
        background-color: #f2f2f2
        padding 0 0 0 8px
        height: 60px
      }
    }

    &-send,
    &-save {
      font-size: 24px;
      border: none
      color: #fff
      width: 90px
      text-align: center
      border-radius: 5px
      margin: 1px 0 0 12px
      cursor: pointer
      height: 58px
      outline: none
      transition all ease .5s
    }

    &-send {
      background-color: #097bec;

      &:hover {
        background-color: #0263dc
      }

      &:active {
        background-color: #004ab3
      }
    }

    &-save {
      background-color: #00c3a5;

      &:hover {
        background-color: #0ea9a2
      }

      &:active {
        background-color: #008585
      }

      &:disabled {
        background-color: #ccc
        cursor: not-allowed
        color: #aaa
      }

      .glyphicon {
        margin: 6px 0 0
      }
}

    &-sep {
      border-left: 1px solid #ccc
      margin: 11px 0 0 0;
      height: 40px
    }
  }

  .mod-dropdown-menu {
    position: absolute
    left: 2px
    top: 60px
    width: 116px
    display: none
  }
}
