//author @huntbao
.mod-edit-host {
  padding: 20px

  .tip {

  }

  input {
    width: 512px
    border: 1px solid #ccc
    border-radius 3px
    outline: none
    margin: 12px 0 0
    padding: 5px
    transition all ease-in-out .3s;

    &:focus {
      box-shadow: 0 0 5px #53a2f2
      border-color: #53a2f2
    }
  }
}