//author @huntbao
.mod-collections {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute
  top: 100px
  right: 0
  bottom: 0
  left: 0;
  padding 0 10px

  .empty-tip {
    font-size: 12px
    color: #ccc
    margin: 8px 0 0
    cursor: default
  }

  .coll {
    margin: 0 -10px

    &-wrap {
      display: flex
      color: #4c4c4c
      padding: 12px 8px 5px
      cursor: pointer
      position: relative;
      transition all ease .5s

      &:hover {
        background-color: #e8f2fe

        .coll-actions {
          opacity: 1
        }
      }

      .mod-dropdown-menu {
        position: absolute
        right: 11px;
        bottom: -22px;
        opacity: 0
        pointer-events none
        transition all ease .5s
      }

      &.show-action-menu {
        .mod-dropdown-menu {
          opacity: 1
          pointer-events auto
        }
      }
    }

    &-icon {
      width: 44px
      height: 44px
      line-height: 48px
      border: 2px solid #b5d5ff
      border-radius 50%
      color: #53a2f2
      font-size: 26px;
      text-align: center;
    }

    &-info {
      margin: 4px 0 0 12px
      flex: 1
    }

    &-actions,
    &-folder-actions {

      opacity 0
      transition all ease .3s;

      &-expand-detail,
      &-menus {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        border: 1px solid #ccc
        border-radius 50%;
        text-align: center
        color: #4c4c4c
        transition all ease .3s;

        &:hover {
          border-color #4c4c4c
        }
      }

      &-expand-detail {
        margin: -7px 0 2px

        .glyphicon-arrow-left {
          display: none
        }

        &.expand {
          .glyphicon-arrow-right {
            display: none
          }

          .glyphicon-arrow-left {
            display: block
          }
        }
      }

      &-menus {
        .glyphicon-option-horizontal {
          margin: 7px 0 0 -1px
        }
      }
    }

    &-folder-actions {
      margin: 0 -6px 0 0;
    }

    &-name {
      font-weight: bold
    }

    &-reqnum {
      font-size: 12px
      color: #ccc
      display: flex
    }

    &-dot {
      width: 8px
      height: 8px
      background-color: #ccc
      border-radius 50%
      margin: 6px 3px 0 0
    }

    &-folder {

      &-wrap {
        display: flex
        font-size: 12px
        padding: 4px 14px;
        cursor: pointer
        position relative
        transition all ease .5s

        &:hover {
          background-color: #e8f2fe

          .coll-folder-actions {
            opacity: 1
          }
        }

        .glyphicon-folder-open {
          display none
          margin: 2px 0 0
        }

        &.expand {

          .glyphicon-folder-close {
            display none
          }

          .glyphicon-folder-open {
            display block
          }
        }

        .mod-dropdown-menu {
          position: absolute
          right: 11px;
          bottom: -22px;
          opacity: 0
          transition all ease .5s
          pointer-events none
        }

        &.show-action-menu {
          .mod-dropdown-menu {
            opacity: 1
            pointer-events auto
          }
        }
      }

      &-icon {
        width: 32px
        height: 32px
        line-height: 34px
        font-size: 26px
        text-align: center
        color: #53a2f2
      }

      &-name {
        margin: 7px 0 0 20px
        flex: 1;
      }
    }

    &-req {
      color: #4c4c4c
      font-size: 12px
      display: flex
      padding: 0 0 0 20px
      height: 30px
      line-height: 30px
      cursor: pointer
      transition all ease .5s

      &:hover {
        background-color: #e8f2fe
      }

      &.active {
        background-color: #1acaaf;
        color: #fff
        font-weight: bold;
        cursor: default

        .coll-req-method {
          color: #fff
        }
      }

      &-method {
        margin: 0 8px 0 0
        color: #666
        font-weight: bold
        width: 44px
        text-align: center
      }

      &-url {
        width: 200px
        white-space: nowrap
        text-overflow ellipsis
        overflow: hidden
      }
    }

    .method-get {
      color: #81d4a5
    }

    .method-post {
      color: #ffaf3d
    }

    .method-delete {
      color: #ff615f
    }

    .method-put {
      color: #83b2e5
    }

    &-folders,
    &-reqs {
      transition all ease .2s;
      height: 0
      overflow: hidden;
    }

  }
}